In [23]:
# Import dependencies
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import seaborn as sb

In [4]:
# Initiate Spark Session
spark = (SparkSession.builder
         .appName('Delivery')
         .getOrCreate())

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/23 19:31:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
# Import data
file = 'Food_Delivery_Times.csv'
df = spark.read.csv(file, header=True)

<h2>Exploratory Data Analysis</h2>
<p>We will conduct to see the data types and missing values (if any). This will inform us whether we need to clean any data.</p>

In [8]:
df.toPandas().head()

,Order_ID,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
0,522,7.93,Windy,Low,Afternoon,Scooter,12,1.0,43
1,738,16.42,Clear,Medium,Evening,Bike,20,2.0,84
2,741,9.52,Foggy,Low,Night,Scooter,28,1.0,59
3,661,7.44,Rainy,Medium,Afternoon,Scooter,5,1.0,37
4,412,19.03,Clear,Low,Morning,Bike,16,5.0,68

In [22]:
# Size of the data set
print("Rows:", df.count())
print("Columns:", len(df.columns))

Rows: 1000
Columns: 9

In [34]:
# Specify numerical columns
num_cols = ['Distance_km',
            'Preparation_Time_min',
            # 'Courier_Experience_yrs',
            'Delivery_Time_min']

pplot_df = df.select(num_cols).toPandas()

# Create pairplot
sb.pairplot(df.toPandas())

ValueError: No variables found for grid columns.

In [29]:
df.select(num_cols).describe().show()

24/12/23 19:51:02 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+--------------------+----------------------+------------------+
|summary|       Distance_km|Preparation_Time_min|Courier_Experience_yrs| Delivery_Time_min|
+-------+------------------+--------------------+----------------------+------------------+
|  count|              1000|                1000|                   970|              1000|
|   mean|10.059969999999998|              16.982|     4.579381443298969|            56.732|
| stddev| 5.696655526120856|   7.204552837031708|    2.9143939478823087|22.070915280098866|
|    min|              0.59|                  10|                   0.0|               100|
|    max|              9.95|                   9|                   9.0|                99|
+-------+------------------+--------------------+----------------------+------------------+